body, html {
  height:100%;
  background: url(src/field.jpg);
  font-family: Helvetica;
  overflow-x: hidden;
  overflow-y: hidden;

}
body {
  margin: 0px;
  background-color:#444;
  font-size: 16px;
  width: 100%;
}

body, a:link, a:visited, a:active{
  color: #000000;
}

.title {
  padding: 5px;
  text-align: center;
  font-size: 22px;
  color: #FFFFFF;
}

.button {
  background-color: #000000;
  color: green;
}

.topbar {
  height:32px;
  background-color: #000000;
  opacity: .5;
}

.title {
  background-color: #000000;
}

.dancer{
  position: absolute;
  padding: 10px;
  margin: 10px;
}

.rotate {
  transform: rotate(-1080deg);
  transition: .30s;
}
